streamlit
pandas
numpy
seaborn
matplotlib
matplotlib-venn
biopython
gprofiler-official
requests
plotly
networkx
pyvis
scipy
statsmodels
spacy
gseapy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bionlp13cg_md-0.5.4.tar.gz
